.App {
	text-align: center;
	background-color: rgb(67, 159, 212);
	min-height: 150vh;
	border-radius: 0cm;
  
}

/* .Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Title-name{
	color:indigo;
	font-family: 'Times New Roman', Times, serif;
	font-style: bold;
	font-size:50pt;
	background-color:rgb(228, 149, 74);
	min-height: 20vh;
}

.Title-app {
	background-color:cadetblue;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: bold;
	font-size: 25px;
	color:white;
}

.Title {
	font-size: 55px;
	text-align: right;
	padding-right: 200px;
	padding-top: 7px;
	padding-bottom: 7px;
	/* font-style: bold; */
}